<script>
  import TimeChart from '@/components/TimeChart.vue'
  import { mapState } from 'pinia'

  import { useStore } from '../stores/store.js'
  import DateRange from '@/components/DateRange.vue'

  export default {
    name: 'DashboardView',
    components: { TimeChart, DateRange },
    computed: {
      ...mapState(useStore, ['noData', 'servicesSorted', 'isMobile']),
    },
  }
</script>

<template>
  <section class="section">
    <div :class="['container', { 'is-fluid': !isMobile }]">
      <DateRange class="is-hidden-tablet mb-6" />
      <div class="is-flex is-justify-content-center" v-if="noData">
        <img src="@/assets/line-chart.svg" width="300" />
      </div>
      <div class="columns is-multiline">
        <div
          v-for="service in servicesSorted"
          :key="service.uuid"
          class="column is-full-tablet is-half-desktop is-one-third-fullhd"
        >
          <TimeChart :service="service" :sparkline="true" :showStats="true" />
        </div>
      </div>
    </div>
  </section>
</template>
