<script>
  import TimeChart from '@/components/TimeChart.vue'
  import { mapState } from 'pinia'

  import { useStore } from '../stores/store.js'

  export default {
    name: 'HomeView',
    components: { TimeChart },
    computed: {
      ...mapState(useStore, ['noData']),
    },
  }
</script>

<template>
  <section class="section">
    <div class="container">
      <div class="is-flex is-justify-content-center" v-if="noData">
        <img src="@/assets/line-chart.svg" width="300" />
      </div>
    </div>
  </section>
</template>
