<script>
  import { mapState, mapWritableState, mapActions } from 'pinia'
  import { RouterLink } from 'vue-router'

  import { useStore } from '@/stores/store.js'

  export default {
    name: 'SettingsView',
    components: [RouterLink],
    data() {
      return {
        showTestResult: false,
      }
    },
    computed: {
      ...mapState(useStore, ['requestFailed']),
      ...mapWritableState(useStore, ['url', 'token', 'defaultDateRange']),
    },
    methods: {
      ...mapActions(useStore, [
        'getDataFromApi',
        'saveToLocalStore',
        'initDates',
      ]),
      onSave() {
        this.cleanUrl()
        this.saveToLocalStore()
        this.initDates()
        this.getDataFromApi()
        this.$router.push({ name: 'dashboard' })
      },
      testApi() {
        this.showTestResult = true
        this.cleanUrl()
        this.getDataFromApi()
      },
      cleanUrl() {
        if (this.url.slice(-1) === '/') {
          this.url = this.url.substring(0, this.url.length - 1)
        }
      },
    },
  }
</script>

<template>
  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns">
        <div class="column is-half-desktop">
          <div class="box">
            <div class="field">
              <label class="label">Shynet url</label>
              <div class="control">
                <input class="input" type="url" v-model="url" />
              </div>
            </div>
            <div class="field">
              <label class="label">Token</label>
              <div class="control">
                <input class="input" type="text" v-model="token" />
              </div>
            </div>
            <div
              class="is-flex is-align-items-center is-justify-content-space-between"
            >
              <button class="button is-rounded" @click="testApi">Test</button>
              <span
                class="tag is-success is-light is-medium"
                v-if="showTestResult === true && requestFailed === 'no'"
              >
                Success
              </span>
              <span
                class="tag is-danger is-light is-medium"
                v-if="showTestResult === true && requestFailed === 'yes'"
              >
                Error
              </span>
            </div>
          </div>
        </div>
        <div class="column is-half-desktop">
          <div class="box">
            <div class="field">
              <label class="label">Default date range</label>
              <div class="control">
                <div class="select">
                  <select v-model="defaultDateRange">
                    <option value="3">Last 3 days</option>
                    <option value="7">Last 7 days</option>
                    <option value="14">Last 14 days</option>
                    <option value="30">Last 30 days</option>
                    <option value="90">Last 90 days</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex is-justify-content-space-between">
        <button
          class="button is-medium is-success is-dark is-rounded"
          @click="onSave"
        >
          Save
        </button>
        <RouterLink to="/">
          <button class="button is-medium is-warning is-rounded">Cancel</button>
        </RouterLink>
      </div>
    </div>
  </section>
</template>
