<script>
  import { mapState, mapWritableState, mapActions } from 'pinia'
  import Litepicker from 'litepicker'
  import 'litepicker/dist/plugins/mobilefriendly'
  import 'litepicker/dist/plugins/ranges'

  import { useStore } from '../stores/store.js'

  export default {
    name: 'DateRange',
    mounted() {
      const picker = new Litepicker({
        element: this.$refs.rangePicker,
        singleMode: false,
        format: 'MMM DD YY',
        maxDate: new Date(),
        startDate: this.startDate,
        endDate: this.endDate,
        plugins: ['mobilefriendly', 'ranges'],
        ranges: {
          position: 'bottom',
          customRanges: this.customRanges,
        },
      })
      picker.on('selected', (startDate, endDate) => {
        this.startDate = startDate.dateInstance
        this.endDate = endDate.dateInstance
        this.getDataFromApi()
      })
    },
    computed: {
      ...mapState(useStore, ['isLoading']),
      ...mapWritableState(useStore, ['startDate', 'endDate']),
      customRanges() {
        const today = new Date()
        const threeDaysAgo = new Date()
        threeDaysAgo.setDate(today.getDate() - 2)
        const firstDayOfYear = new Date(today.getFullYear(), 0, 1)

        return {
          'Last 3 days': [threeDaysAgo, today],
          'This year': [firstDayOfYear, today],
        }
      },
    },
    methods: {
      ...mapActions(useStore, ['getDataFromApi']),
    },
  }
</script>

<template>
  <div class="is-flex is-justify-content-center">
    <input
      type="text"
      ref="rangePicker"
      placeholder="Date range"
      class="input is-primary is-medium rangePicker"
      readonly
    />
  </div>
</template>

<style scoped>
  .rangePicker {
    max-width: 250px;
  }
</style>
