<script>
  import { mapState } from 'pinia'
  import { RouterLink } from 'vue-router'

  import { useStore } from '../stores/store.js'
  import DateRange from '@/components/DateRange.vue'

  export default {
    name: 'NavbarItem',
    components: { RouterLink, DateRange },
    computed: {
      ...mapState(useStore, ['isLoading']),
    },
  }
</script>

<template>
  <nav
    class="level is-mobile has-background-light"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="level-left">
      <div class="level-item">
        <RouterLink to="/">
          <img class="mx-5" src="@/assets/shyweb.svg" height="60" width="60" />
        </RouterLink>
      </div>
      <div class="level-item">
        <DateRange class="is-hidden-mobile" />
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <img v-if="isLoading" class="mx-5" src="@/assets/loading.gif" />
      </div>
      <div class="level-item">
        <RouterLink to="/settings">
          <button
            class="button is-medium is-primary is-outlined is-rounded mx-5"
          >
            <img src="@/assets/settings.svg" height="32" width="32" />
          </button>
        </RouterLink>
      </div>
    </div>
  </nav>
</template>

<style scoped></style>
