<script>
  function getRandomNumber() {
    return Math.random().toString(16).substr(2)
  }

  export default {
    name: 'ShynetImg',
    data() {
      return {
        randomNumber: getRandomNumber(),
        url: 'https://shynet.napcode.eu/ingress/36e31d33-6c47-4bbe-9035-01c367bdbd0f/random/{}/pixel.gif',
      }
    },
    computed: {
      src() {
        return this.url.replace('{}', this.randomNumber)
      },
    },
    watch: {
      $route(to, from) {
        this.randomNumber = getRandomNumber()
      },
    },
  }
</script>

<template>
  <img :src="src" />
</template>
