<script>
  import { mapState } from 'pinia'

  import { useStore } from '../stores/store.js'

  export default {
    name: 'TimeChart',
    props: ['service', 'sparkline', 'showStats'],
    computed: {
      ...mapState(useStore, ['isMobile']),
      options() {
        return {
          dataLabels: {
            enabled: false,
          },
          tooltip: {
            shared: true,
            x: {
              format: this.tooltipFormat,
            },
            fixed: {
              enabled: true,
              position: 'topRight',
              offsetX: 20,
              offsetY: this.isMobile ? -130 : -100,
            },
          },
          legend: {
            show: false,
          },
          chart: {
            zoom: {
              enabled: false,
            },
            toolbar: {
              show: false,
            },
            sparkline: {
              enabled: this.sparkline,
            },
            type: 'line',
            height: '100',
            animations: {
              enabled: false,
            },
          },
          yaxis: {
            labels: {
              show: !this.sparkline,
              formatter: (val) => val.toFixed(0),
            },
          },
          xaxis: {
            type: 'datetime',
            labels: {
              show: !this.sparkline,
              datetimeUTC: false,
            },
          },
          stroke: {
            width: 2,
            curve: 'smooth',
          },
          labels: this.service.stats.chart_data.labels,
        }
      },
      series() {
        return [
          {
            name: 'Hits',
            type: 'area',
            color: '#ddd6fe',
            data: this.service.stats.chart_data.hits,
          },
          {
            name: 'Sessions',
            type: 'line',
            color: '#805AD5',
            data: this.service.stats.chart_data.sessions,
          },
        ]
      },
      stats() {
        return [
          { name: 'Sessions', value: this.service.stats.session_count },
          { name: 'Hits', value: this.service.stats.hit_count },
        ]
      },
      tooltipFormat() {
        return this.service.stats.chart_tooltip_format
      },
      hasFavicon() {
        if ('favicon' in this.service && this.service.favicon !== '') {
          return true
        }

        return false
      },
    },
  }
</script>

<template>
  <div class="box mb-5">
    <div v-if="showStats" class="stat is-flex is-justify-content-space-between">
      <div class="is-flex">
        <figure v-if="hasFavicon" class="image is-32x32 mr-3">
          <img :src="service.favicon" width="32" height="32" />
        </figure>
        <p class="subtitle is-4">
          <strong class="has-text-primary">{{ service.name }}</strong>
        </p>
      </div>

      <div class="is-flex is-justify-content-left">
        <template v-for="(stat, index) in stats" :key="stat.name">
          <div v-if="index !== 0" class="mr-6"></div>
          <div class="is-flex is-flex-direction-column">
            <span>{{ stat.name }}</span>
            <strong>{{ stat.value }}</strong>
          </div>
        </template>
      </div>
    </div>
    <apexchart
      height="100"
      type="line"
      :options="options"
      :series="series"
    ></apexchart>
  </div>
</template>

<style scoped>
  @media screen and (max-width: 768px) {
    .stat {
      flex-direction: column;
    }
  }
</style>
