<script>
  import { RouterView } from 'vue-router'
  import { mapState, mapActions } from 'pinia'
  import { registerSW } from 'virtual:pwa-register'

  import { useStore } from '@/stores/store.js'
  import Navbar from '@/components/Navbar.vue'
  import Shynet from '@/components/Shynet.vue'

  export default {
    components: {
      Navbar,
      RouterView,
      Shynet,
    },
    computed: {
      ...mapState(useStore, ['url', 'token', 'production']),
    },
    methods: {
      ...mapActions(useStore, [
        'loadFromLocalStore',
        'getDataFromApi',
        'updateIsMobile',
      ]),
    },
    created() {
      this.updateSW = registerSW({
        onOfflineReady() {
          console.log('Ready to work offline')
        },
      })

      window.onresize = () => {
        this.updateIsMobile()
      }
      this.updateIsMobile()

      this.loadFromLocalStore()
      if (this.url !== null && this.token !== null) {
        this.getDataFromApi()
      } else {
        this.$router.push({ name: 'settings' })
      }
    },
  }
</script>

<template>
  <Navbar />
  <RouterView />
  <Shynet v-if="production" />
</template>

<style lang="scss">
  @import '@/assets/base.scss';
</style>
